<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <strong>Ingress Backup</strong>
        </div>
        @* col-xs-12 col-sm-6 col-lg-3 *@
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <a asp-action="BackupIngress" class="btn btn-primary btn-lg btn-block">Backup</a>
                </div>

                <div class="col-md-6">
                    <a asp-action="SendIngressbackup" class="btn btn-primary btn-lg btn-block">Send</a>
                </div>
            </div>
        </div>
    </div>
</div>